table {
    border-collapse: collapse;
    border: 2px solid rgb(132, 40, 40);
    font-family: sans-serif;
    font-size: 0.8rem;
    letter-spacing: 1px;
}

th,
td {
    border: 2px solid #080200;
    padding: 18px 20px;
}

tbody>tr:nth-of-type(even) {
    background-color: rgb(242, 243, 175);
}